mat-form-field, button {
    margin: 10px;
}

.example-container {
  overflow: auto;
  margin-top: 20px;
  height: 80vh;
  width: 80%;
  margin-bottom: 20px;
}

table {
  width: 100%;
  text-align: initial;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}